{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% comment %}
  Dynamically fetches related blog posts based on product metafields across all blogs.
  Falls back to globally defined posts if no specific metafields are present.
{% endcomment %}

<div class="related-blog-posts">
  {% assign related_post_ids = product.metafields.custom.related_post_ids.value
    | remove: '['
    | remove: ']'
    | remove: '"'
    | split: ','
  %}

  {% if related_post_ids.size > 0 %}
    {{ related_post_ids | json }}

    {% assign found_posts = false %}
    {% for link in linklists.blogs.links %}
      {% assign blog = link.object %}
      {% for article in blogs[blog.handle].articles %}
        {% for meta_post_id in related_post_ids %}
          {%- liquid
            assign post_id = meta_post_id | times: 1
          -%}
          {% if post_id == article.id %}
            {% assign found_posts = true %}
            {% render 'article-card', blog: blog, article: article, show_image: true %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if found_posts == false %}
    {% assign global_related_posts_ids = section.settings.global_related_posts_ids | split: ',' %}
    {% for link in linklists.blogs.links %}
      {% assign blog = link.object %}
      {% for article in blogs[blog.handle].articles %}
       {% for meta_post_id in global_related_posts_ids %}
          {%- liquid
            assign post_id = meta_post_id | times: 1
          -%}
          {% if post_id == article.id %}
            {% assign found_posts = true %}
            {% render 'article-card', blog: blog, article: article, show_image: true %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Related Blog Posts",
  "tag": "section",
  "limit": 1,
  "class": "section related-post",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "id": "global_related_posts_ids",
      "type": "text",
      "label": "Global Related Post IDs",
      "info": "Enter comma-separated blog post IDs to be used as a global fallback."
    }
  ],
  "presets": [
    {
      "name": "Default Related Blog Posts"
    }
  ]
}
{% endschema %}
